body {
  min-height: 100vh;
  background-color: #0e1d24;
  padding: 2rem;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #365d6f;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #00c2d7;
  width: 100%;
  max-width: 48rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
}

p {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

